#restaurants
{
    width: 100%;
    height: auto;
    padding: 60px 20px 60px 20px;
    background-color: $secion-color;
}

#restaurants h1
{
    margin-bottom: 30px;
    background-color: $secion-color;
}
