/*-------------- colors --------------*/
/*-------------- Shadows --------------*/
/*-------------- animations --------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

H1 {
  font-family: "robotobold";
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

p {
  font-family: "robotolight";
  font-size: 1.05em;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "shrikhandregular";
  src: url("fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("fonts/hrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotolight";
  src: url("fonts/Roboto-Light-webfont.eot");
  src: url("fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Light-webfont.woff2") format("woff2"), url("fonts/Roboto-Light-webfont.woff") format("woff"), url("fonts/Roboto-Light-webfont.ttf") format("truetype"), url("fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Regular-webfont.woff2") format("woff2"), url("fonts/Roboto-Regular-webfont.woff") format("woff"), url("fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotomedium";
  src: url("fonts/Roboto-Medium-webfont.eot");
  src: url("fonts/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Medium-webfont.woff2") format("woff2"), url("fonts/Roboto-Medium-webfont.woff") format("woff"), url("fonts/Roboto-Medium-webfont.ttf") format("truetype"), url("fonts/Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("fonts/Roboto-Bold-webfont.eot");
  src: url("fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Bold-webfont.woff2") format("woff2"), url("fonts/Roboto-Bold-webfont.woff") format("woff"), url("fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 48px;
  margin: 30px 0 20px 0;
  padding: 15px;
  border: none;
  border-radius: 30px;
  box-shadow: -1px 4px 10px -2px rgba(0, 0, 0, 0.31);
}
.btn p {
  color: white;
  font-family: "robotomedium";
  font-size: 1em;
}
.btn__order {
  display: flex;
  justify-content: center;
}

.food__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0 0 15px 0;
  padding: 15px 10px 15px 10px;
  background-color: #f6f6f6;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 4px 10px -2px rgba(0, 0, 0, 0.31);
  position: relative;
  overflow: hidden;
}
.food__btn__txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.food__btn__price {
  width: auto;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 5px;
}
.food__btn__check {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  position: absolute;
  right: 0px;
  color: white;
}

.food__btn__txt h3 {
  width: auto;
  font-family: "robotobold";
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.food__btn__txt p {
  font-size: 0.9em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.food__btn__price p {
  width: auto;
  height: auto;
  font-family: "robotomedium";
  font-size: 1em;
}

.test {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#restaurant {
  width: 100%;
  height: auto;
  padding: 40px 20px 40px 20px;
}

@media screen and (min-width: 600px) {
  .card-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0 0 0;
  }
}

.card {
  width: 100%;
  height: 250px;
  margin: 0 0 30px 0;
  padding: 0;
  background-color: rgb(208, 10, 10);
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 1px 3px 9px 1px rgba(209, 209, 209, 0.75);
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  .card {
    width: 48%;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.card__img--v1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.card__img__new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: #99E2D0;
  color: #2d826d;
  font-family: "robotomedium";
  font-size: 0.9em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 78px;
  background-color: white;
  border-radius: 0 0 15px 15px;
  padding: 10px 20px 10px 10px;
  position: relative;
}
.card__description h2 {
  margin: 0;
  font-family: "robotobold", Arial, sans-serif;
  font-size: 1.2em;
  color: black;
}
.card__description p {
  margin: 0;
  font-family: "robotolight", Arial, sans-serif;
  font-size: 1em;
  border: none;
  color: black;
  text-overflow: clip;
}

.card a {
  width: 100%;
  height: 70%;
  text-decoration: none;
}

.btn {
  transform: scale(1);
  background: linear-gradient(171deg, rgb(255, 121, 218) 0%, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  transition: transform 500ms ease-in-out, background 500ms ease-in-out;
}
.btn:hover {
  transform: scale(1.15);
  background: linear-gradient(171deg, rgb(255, 121, 218) 0%, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
}
.btn:hover p {
  color: white;
}

.function__btn {
  background-color: #f6f6f6;
  transition: background-color 300ms;
}
.function__btn:hover {
  background-color: #e4d5f6;
}
.function__btn:hover .function_icon {
  color: #9356DC;
}

/* animation Check */
.food__btn__check {
  transform: translateX(70px);
  transition: transform 500ms ease-in-out;
}

.food__btn__price {
  transform: translateX(0px);
  transition: transform 500ms ease-in-out;
}

.food__btn:hover .food__btn__check {
  transform: translateX(0px);
}

.food__btn:hover .food__btn__price {
  transform: translateX(-70px);
  padding-left: 80px;
}

.fa-check-circle {
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out;
}

.food__btn:hover .fa-check-circle {
  transform: rotate(-360deg);
}

@keyframes anim-card {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.anim__starter {
  animation: 500ms 20ms anim-card;
}

.anim__btn--1 {
  animation: 500ms 50ms anim-card;
}

.anim__btn--2 {
  animation: 500ms 100ms anim-card;
}

.anim__btn--3 {
  animation: 500ms 150ms anim-card;
}

.anim__dish {
  animation: 500ms 170ms anim-card;
}

.anim__btn--4 {
  animation: 500ms 200ms anim-card;
}

.anim__btn--5 {
  animation: 500ms 250ms anim-card;
}

.anim__btn--6 {
  animation: 500ms 300ms anim-card;
}

.anim__dessert {
  animation: 500ms 330ms anim-card;
}

.anim__btn--7 {
  animation: 500ms 350ms anim-card;
}

.anim__btn--8 {
  animation: 500ms 400ms anim-card;
}

.anim__btn--9 {
  animation: 500ms 450ms anim-card;
}

.heart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 50px;
  height: 50px;
  right: 20px;
}
.heart:hover .like-icon {
  opacity: 1;
  transform: scale(1.15);
}

.like-icon {
  position: absolute;
  right: 10px;
  opacity: 0;
  transform: scale(0);
  transition: transform 300ms linear;
  cursor: pointer;
  background: linear-gradient(0deg, #9356dc, #ff79da);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.not-like-icon {
  position: absolute;
  right: 10px;
  color: black;
}

.page-loader {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: black;
  position: fixed;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: page-loader;
  animation-duration: 1500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.spinner {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 10px;
  border-style: solid solid solid solid;
  border-color: #9356DC #FF79DA #99E2D0 white;
  animation-name: spinner;
  animation-duration: 1500ms;
  animation-timing-function: easy;
  animation-fill-mode: forwards;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
    visibility: hidden;
  }
}
@keyframes page-loader {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 55px;
}
#header__logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  position: absolute;
}
#header__logo img {
  width: 140px;
  height: auto;
}
#header__arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  margin-left: 23px;
  position: relative;
  z-index: 1;
}

.footer {
  background-color: #353535;
  padding: 30px;
}
.footer__logo {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
}
.footer__icon {
  width: 15px;
  height: auto;
  margin-right: 10px;
}

footer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #f6f6f6;
  font-family: "robotoregular";
  font-size: 1em;
}

footer a p {
  color: #f6f6f6;
  font-family: "robotoregular";
  font-size: 1em;
}

footer li {
  margin-bottom: 8px;
}

#location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 15px;
  background: rgb(201, 201, 201);
  background: linear-gradient(180deg, rgb(201, 201, 201) 0%, rgb(234, 234, 234) 12%, rgb(234, 234, 234) 100%);
}
#location__icon {
  width: 12px;
  height: auto;
  margin-right: 20px;
  color: #353535;
  position: sticky;
  left: 100px;
}
#location p {
  font-family: "robotoregular";
  font-size: 1em;
}

#reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: 0;
  background-color: #f6f6f6;
  text-align: center;
}
#reservation h1 {
  width: 92%;
  height: auto;
  margin-bottom: 10px;
}

.functioning {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 40px 20px 0px 20px;
}
.functioning h1 {
  margin: 0 0 30px 0;
}
.functioning__block {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.functioning__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1000px) {
  .functioning__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.function__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: 0 0 20px 0;
  padding: 0;
  border: none;
  border-radius: 15px;
  box-shadow: -1px 4px 10px -2px rgba(0, 0, 0, 0.31);
  position: relative;
}
@media screen and (min-width: 1000px) {
  .function__btn {
    width: 30%;
  }
}
.function__btn__icon {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 11px;
}
.function__btn__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
  left: -11px;
}
.function__btn__text p {
  font-family: "robotomedium";
  font-size: 1.15em;
}

.function_number {
  width: 20px;
  height: 20px;
  padding: 2px;
  border-radius: 10px;
  background-color: #9356DC;
  color: white;
  text-align: center;
  font-size: 0.9em;
  position: absolute;
  left: -20px;
}

.function_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 15px;
  width: auto;
  height: 25px;
}

#restaurants {
  width: 100%;
  height: auto;
  padding: 60px 20px 60px 20px;
  background-color: #f6f6f6;
}

#restaurants h1 {
  margin-bottom: 30px;
  background-color: #f6f6f6;
}

.intro {
  width: auto;
  height: 250px;
}
.intro__photo {
  width: 100%;
  height: 300px;
}
.intro__photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  width: 100%;
  height: auto;
  padding: 30px 30px 0 20px;
  margin: 0;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
}
.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__header h1 {
  font-family: "shrikhandregular";
}
.menu__header img {
  width: 25px;
  height: 25px;
}
.menu__starter {
  margin-top: 40px;
}
@media screen and (min-width: 600px) {
  .menu__starter {
    width: 32%;
  }
}
.menu__dish {
  margin-top: 40px;
}
@media screen and (min-width: 600px) {
  .menu__dish {
    width: 32%;
  }
}
.menu__dessert {
  margin-top: 40px;
}
@media screen and (min-width: 600px) {
  .menu__dessert {
    width: 32%;
  }
}

@media screen and (min-width: 600px) {
  .menu__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

h2 {
  font-family: "robotolight";
  font-size: 0.9em;
  margin-bottom: 5px;
}

.underline {
  width: 37px;
  height: 3px;
  background-color: #99E2D0;
}

/*# sourceMappingURL=mobile.css.map */
