.btn
{
    background: $btn-color;
    transition: all 150ms;


    &:hover{
        filter: brightness(110%);
        box-shadow: $shadow-btn2;

        p{
            color: $text-secondary-color;
        }
    }

} 




.function__btn
{
    background-color: $secion-color;
    transition: background-color 300ms;
    &:hover{
        background-color: lighten($primary-color, 30);
        .function_icon{
            color: $primary-color;
        }

    }
}


/* animation Check */
.food__btn__check{
    transform: translateX(70px);
    transition: transform 500ms ease-in-out; 
}

.food__btn__price{
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
}

.food__btn:hover .food__btn__check{
    transform: translateX(0px);
}

.food__btn:hover .food__btn__price{
    transform: translateX(-70px);
    padding-left: 80px;
}


.fa-check-circle{
    transform: rotate(0deg);
    transition: transform 500ms ease-in-out; 
}
.food__btn:hover .fa-check-circle{
    transform: rotate(-360deg);
} 





@keyframes anim-card
{
    0%{
        transform: translateY(20px);
        opacity: 0;
    }
    
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    

}


.anim__starter
{
    animation: 500ms 20ms anim-card;
}
.anim__btn--1
{
    animation: 500ms 50ms anim-card;
}
.anim__btn--2
{
    animation: 500ms 100ms anim-card;
}
.anim__btn--3
{
    animation: 500ms 150ms anim-card;
}


.anim__dish
{
    animation: 500ms 170ms anim-card;
}
.anim__btn--4
{
    animation: 500ms 200ms anim-card;
}
.anim__btn--5
{
    animation: 500ms 250ms anim-card;
}
.anim__btn--6
{
    animation: 500ms 300ms anim-card; 
}


.anim__dessert
{
    animation: 500ms 330ms anim-card;
}
.anim__btn--7
{
    animation: 500ms 350ms anim-card;
}
.anim__btn--8
{
    animation: 500ms 400ms anim-card;
}
.anim__btn--9
{
    animation: 500ms 450ms anim-card;
}







.heart{
    @include flex-row-center;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 20px;


    &:hover{
        .like-icon{
            opacity: 1;
            transform: scale(1.15) ;
        }
    }
}

.like-icon{
    position: absolute;
    right: 10px;
    opacity: 0;
    transform: scale(0);
    transition: transform 300ms linear;
    cursor: pointer;
    background: linear-gradient(0deg, #9356dc, #ff79da);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}


.not-like-icon{
    position: absolute;
    right: 10px;
    color: black;
}