.btn
{
    @include flex-row-center;
    width: 210px;
    height: 48px;
    margin: 30px 0 20px 0;
    padding: 15px;
    border: none;
    border-radius: 30px;
    box-shadow: $shadow-btn;

    p{
        color: $text-secondary-color;
        font-family: 'robotomedium';
        font-size: 1em;    
    }

    &__order
    {
        display: flex;
        justify-content: center;
    }
}

.food__btn
{
    @include flex-row-space-between;
    width: 100%;
    height: 70px;
    margin: 0 0 15px 0;
    padding: 15px 10px 15px 10px;
    background-color: $secion-color;
    border: none;
    border-radius: 15px;
    box-shadow: $shadow-btn;
    position: relative;
    overflow: hidden;
    
    &__txt
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: 100%;
        text-align: start;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &__price
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        width: auto;
        height: 100%;
        margin: 0 ;
        padding: 0;
    }
    &__check
    {
        @include flex-column-center;
        width: 80px;
        height: 70px;
        background-color: $tertiary-color;
        border-radius: 0 15px 15px 0;
        position: absolute;
        right: 0px;
        color: white;
        overflow: hidden;
    }
}





.food__btn__txt h3
{
    width: auto;
    font-size: 1.15em;
    text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

}


.food__btn__price p
{
   width: auto;
    font-family: 'robotomedium';
    font-size: 1.15em;
    text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
}
