.btn
{
    @include flex-row-center;
    width: 210px;
    height: 48px;
    margin: 30px 0 20px 0;
    padding: 15px;
    border: none;
    border-radius: 30px;
    box-shadow: $shadow-btn;

    p{
        color: $text-secondary-color;
        font-family: 'robotomedium';
        font-size: 1em;    
    }

    &__order
    {
        display: flex;
        justify-content: center;
    }
}

.food__btn
{
    @include flex-row-space-between;
    width: 100%;
    height: 70px;
    margin: 0 0 15px 0;
    padding: 15px 10px 15px 10px;
    background-color: $secion-color;
    border: none;
    border-radius: 15px;
    box-shadow: $shadow-btn;
    position: relative;
    overflow: hidden;
    
    &__txt
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    &__price
    {
        width: auto;
        display: flex;
        align-items: center;
        height: 100%;
        padding-left: 5px;
    }
    &__check
    {
        @include flex-column-center;
        width: 70px;
        height: 70px;
        background-color: $tertiary-color;
        border-radius: 0 15px 15px 0;
        position: absolute;
        right: 0px;
        color: white;
    }
}





.food__btn__txt h3
{
    width: auto;
    font-family: 'robotobold';
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.food__btn__txt p
{
    font-size: 0.9em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.food__btn__price p{
    width: auto;
    height: auto;
    font-family: 'robotomedium';
    font-size: 1em;
}

.test{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}