
/*-------------- colors --------------*/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$text-secondary-color: white;

$text-new: #2d826d;

$picto-color: #353535;

$secion-color: #f6f6f6;

$btn-color: rgb(255,121,218);

/*-------------- Shadows --------------*/


$shadow-btn: -1px 4px 10px -2px rgba(0,0,0,0.31);
